* {
  padding:0px;
  margin: 0px;
}
.html-container {
  background-image: linear-gradient(rgb(36, 169, 209), limegreen ,orange, purple);
  height: auto;
  min-height: 54em;
  padding-top: 30px;
}

.header {
  
  text-align: center;
  height: fit-content;
  width: 25%;
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  border: solid black;
  
}

.sub-header {
  margin: auto;
  width: fit-content;
  height: fit-content;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: solid black;
  width: fit-content;
  border: collapse;
  table-layout: fixed;
  width: 1500px;
  text-align: center;
  background-image: linear-gradient(90deg, rgb(240, 197, 78)5%,white,  white 75%, rgb(59, 224, 253));


}
table td {
  word-wrap: break-word;
  background-image: linear-gradient(90deg, rgb(240, 197, 78)5%,white,  white 75%, rgb(59, 224, 253));
  padding: 10px 30px;
}
table td button, span {
  cursor:pointer;
}
.space-button {
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px 5px 0px black;
  background-image: linear-gradient(45deg,black 1%,  rgb(190, 190, 190) 80%, black);
  cursor: pointer;
  color: white;
}

/* CSS button style grabbed from https://getcssscan.com/css-buttons-examples */
.button-create {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 5px;
  margin: 20px 0px 20px 50px;
  touch-action: manipulation;
  cursor: pointer;
}

.button-create:active,
.button-create:hover {
  outline: 0;
}

.button-create span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-create:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-create {
    font-size: 24px;
    min-width: 196px;
  }
}

.create-edit-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.create-edit-form button {
  margin: 30px;
  height: 2em;
  width: 5em;
  border: 0;
  box-shadow: 5px 5px 5px 0px black;
  background-image: linear-gradient(45deg,black 1%,  rgb(190, 190, 190) 80%, black);
  cursor: pointer;
  color: white;
}
.create-edit-form input{
    width: 50em;
    margin: 10px;
}

.create-edit-form label {
  font-weight: bold;
  font-size: large;
  padding: 10px;
}

.description-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.description-page p {
  height: auto;
  width: 50%;
  padding: 35px;
  margin: 20px;
  background-image: linear-gradient(90deg, rgb(240, 197, 78)5%,white,  white 75%, rgb(59, 224, 253));
  border-radius: 50px;
  word-wrap: break-word;
  margin-left: 25%;
  font-size: larger;
  font-weight: 475;
}
.description-page span{
  cursor: pointer;
  text-decoration: underline;
}
.description-page button {
  width: 10em;
  height: 3em;
  border: 0;
  box-shadow: 5px 5px 5px black;
  background-image: linear-gradient(45deg, red 20%,black,  rgb(190, 190, 190) 80%, red);
  cursor: pointer;
  color: white;
}
.description-page h2 {
  margin-top: 15px;
}